:root {
  --color-primary: #cc8d67;
  --color-highlight: #7fe7ce;
  --text-primary: #f8f9fa;
  --text-secondary: #212529;
}

.text-color-primary {
  color: var(--color-primary);
}

.text-color-highlight {
  color: var(--color-highlight);
}

.text-shadow {
  text-shadow: 1px 1px black;
}

.color-primary {
  background-color: var(--color-primary);
}

.form-btn {
  background-color: var(--color-highlight);
  color: var(--text-secondary);
  padding: .25em 1.2em;
}

.buy-btn {
  background-color: var(--color-highlight);
  color: var(--text-secondary);
  width: 33vh;
}

.btn:hover {
  background-color: #58a59f;
  color: var(--text-primary);

}

.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pos-review-star {
  color: var(--color-highlight);
  font-size: 8vw;
}

.neg-review-star {
  color: #393c3f69;
  font-size: 8vw;
}

.text-subtle {
  color: #ffffff79;
}

.form-bg-img {
  background-image: url(//cdn.thecollector.com/wp-content/uploads/2024/02/bronze-age-civilizations-top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-bg-color {
  background-color: rgba(0, 0, 0, 0.684);
}

.over-img-text {
  border-left: 10px solid var(--color-primary);
  padding-left: 2em;
}

.nasir-blurb {
  margin-top: 9em;
}

.card-offset {
  position: absolute;
  top: 4.2em;
  right: 100px;
}

.buy-shield {
  font-size: 10em;
}

.more-margin {
  margin-top: 5em;
}

.side-margin {
  margin-right: 5em;
}

.margin-sides {
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.padding-top-1 {
  padding-top: 5em;
}

.padding-bottom-1 {
  padding-bottom: 5em;
}

.padding-top-2 {
  padding-top: 10em;
}

.padding-bottom-2 {
  padding-bottom: 10em;
}

.padding-sides-1 {
  padding-right: 8em;
  padding-left: 8em;
}

.buy-now {
  padding-top: 5em;
  padding-bottom: 5em;
}

#top-f-txt-area {
  resize: none;
}

#mt-owner-right {
  max-height: 100%;
  aspect-ratio: 1/1;
  border: 1px solid none;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Complaint_tablet_to_Ea-Nasir_2023.JPG/800px-Complaint_tablet_to_Ea-Nasir_2023.JPG);
  background-size: cover;
}

#ea-nasir {
  max-height: 100%;
  aspect-ratio: 1/1;
  border: 1px solid none;
  border-bottom-right-radius: 50%;
  background-image: url(https://pbs.twimg.com/profile_images/1757848042433318914/BulDLPls_400x400.png);
  background-size: cover;
  background-position: center, top;
  background-repeat: no-repeat;
}

.shadow {
  box-shadow: 0 1em .5em black;
}

@media screen and (max-width: 768px) {
  .form-btn {
    width: 100%;
  }

  .form-bg-img {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Complaint_tablet_to_Ea-Nasir_2023.JPG/1200px-Complaint_tablet_to_Ea-Nasir_2023.JPG);
  }

  .card-offset {
    position: unset;
  }

  .buy-now {
    padding-top: 0;
    padding-bottom: 0;
  }

  .more-margin {
    margin-top: 0;
  }

  .buy-btn {
    width: 85vw;
  }

  .pos-review-star {
    color: var(--color-highlight);
    font-size: 24vw;
  }

  .neg-review-star {
    color: #393c3f69;
    font-size: 24vw;
  }

  .margin-sides {
    margin-left: 0;
    margin-right: 0;
  }

  .padding-top-1 {
    padding-top: 0;
  }

  .padding-bottom-1 {
    padding-bottom: 0;
  }
}